.greyLine {
    background-color: grey;
    height: 100px;
    padding: 10px 10px 50px 10px;
    margin-bottom: 50px;
    margin-top: 0px;
    }

    .blackLine {
        margin-bottom: 0px;
        border-top: 10px solid black;
        
    }